@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;1,9..40,400;1,9..40,500&display=swap");

:root {
  --ui-bg: 255 255 255;
  --q-primary: #42dd82;
  --color-primary-DEFAULT: #42dd82;
}
html.dark {
  --ui-bg: 18 18 18;
  --q-primary: #42dd82;
  --color-primary-DEFAULT: #42dd82;
}

::selection {
  background-color: #b5cadc !important;
}

body,
html {
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

@media (min-width: 640px) {
  .sm\:text-4xl {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
}

@media (min-width: 1024px) {
  .lg\:text-5xl {
    font-size: 3rem;
    line-height: 1;
  }
}

.bg-background\/75 {
  background-color: rgb(var(--ui-bg) / 0.75);
}

.bg-background {
  background-color: rgb(var(--ui-bg) / 1);
}
